body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(51, 51, 51, 1);
}

* {
  list-style: none;
}

/* Styles for container and header */
.container {
  max-width: 100%;
  margin: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
}

.under {
  margin :0px ;
  height: 0.1px;
  width:100%;
  opacity: 0.3;
  background-color: rgba(161, 142, 142, 0.196);
}

.head {
  width: 100%;
  background-color: rgba(241, 241, 241, 1);
  padding: 20px 0;
  border: 0;
}

.logoName {
  overflow: auto; /* Clearfix to contain floated elements */
}

.fullName {
  float: left;
  color: rgba(86, 86, 86, 1);
  font-size: 30px;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(86, 86, 86, 1); /* #565656 */
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0px;
  padding: 10px 20px;
}

hr {
  margin: 0 35px;
  height: 2px;
  background-color: rgba(154, 148, 148, 1);
  border-radius: 10%;
}

.infoTitle {
  font-weight: 700;
}

.personal-info {
  display:flex;
  flex-direction:column ;
  padding: 20px 20px;
  font-size: 18px;
}

.info-row{
     display:flex;
    margin-bottom :15px;
}

.info{
     display:flex;
}
.dash{
  margin-right:10px ;
  margin-left :10px ;
}

.last-info{
     display:flex;
}

span {
  margin-left: 5px;
}

hr.top {
  margin: 0 20px;
}

.fullName {
  color: rgba(86, 86, 86, 1);
  font-size: 30px;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(86, 86, 86, 1);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  padding: 10px 20px;
}

/* Styles for sections */
.section {
  margin-bottom: 20px;
  overflow: auto;
}

.nameSection {
  float: left;
  margin: 0;
  padding: 0 10px;
}

.titleSection {
  overflow: auto;
  padding: 20px 3px;
  text-align: center;
  padding: 20px 0 0 20px;
}

.cercle {
  float: left;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 3px;
  background-color: rgba(154, 148, 148, 1);
  height: 15px;
  border-radius: 50%;
}

/* Styles for details */
.details {
  padding: 2px;
  width: 90%;
  margin-left: 10px;
  margin-bottom: 20px;
  border-collapse: collapse;
  border: none;
}

.details li {
  list-style-type:disc;
  margin-left: 15 px ;
}

.nameSection {
  font-size: 23px;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(86, 86, 86, 1);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.headSection {
  padding: 0 45px;
  line-height: 10px;
  display: inline-block;
}


.city,
.CompanyPoositionExp {
  color: rgba(86, 86, 86, 1);
  text-transform: uppercase;
  font-size: 19px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.city {
  color: rgba(154, 148, 148, 1);
}

.CompanyPoositionExp b {
  font-weight: 600;
}

.country {
  text-transform: capitalize;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgba(204, 204, 204, 1);
}

/* Style for table headers */
th {
  background-color: rgba(242, 242, 242, 1);
  border: 1px solid rgba(204, 204, 204, 1);
  padding: 8px;
  text-align: left;
}

/* Style for table cells */
td {
  border: 1px solid rgba(204, 204, 204, 1);
  padding: 8px;
}

/* Style for alternate rows */
tr:nth-child(even) {
  background-color: rgba(249, 249, 249, 1);
}

/* Style for sub header row */
.tblSubHeader th {
  background-color: rgba(224, 224, 224, 1);
}

.LanguageCode {
  font-weight: bold;
}

.logo {
    height:10%;
  width: 20%;
  float: right;
  margin-right: 10px;
}

.fullName {
  color: rgba(86, 86, 86, 1);
  font-size: 30px;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(86, 86, 86, 1);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0px;
  padding: 10px 20px;
}