<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Resume</title>
    <style>
        /* Add your CSS styling here */
    </style>
</head>
<body>
<h1>Resume of <span th:text="${resume.formattedName}"></span></h1>
<p>Email: <span th:text="${resume.email}"></span></p>
<p>Phone: <span th:text="${resume.phoneNumber}"></span></p>
<p>Address: <span th:text="${resume.address.addressDescription}"></span>,
    <span th:text="${resume.address.city.name}"></span>,
    <span th:text="${resume.address.city.country.name}"></span></p>
<p>Nationality: <span th:text="${resume.primaryLanguage.languageName}"></span></p>

</body>
</html>
