<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="pdfkit-page-size" content="A4">
    <meta name="pdfkit-orientation" content="portrait">
    <title>Europass CV</title>
    <link rel="stylesheet" href="cv_template.css">
    <link rel="icon" type="image/png" href="./images/icon.png">
</head>

<body>
    <div class="container">
        <div class="head">
            <img src="images/Europass-logo.png" class="logo" alt="logo-europass">
            <h6 class="fullName">John Doe</h6>

            <hr class="top">

            <div class="personal-info">
                <p>
                    <span class="infoTitle"> Date of Birth:</span> 01-01-1990 <span class="dash">|</span>
                    <span class="infoTitle"> Nationality:</span> Nationality <span class="dash">|</span>
                    <span class="infoTitle"> Phone:</span> +212690909090 <span class="dash">|</span>
                    <span class="infoTitle"> Email:</span><a href="#"> johndoe@example.com</a> <span
                        class="dash">|</span>
                    <span class="infoTitle"> Address: </span> 123 Main Street,City,Country.
                </p>
            </div>
        </div>

        <div class="cvBody">

            <div class="section">

                <div class="titleSection">
                    <div class="cercle"></div>
                    <h5 class="nameSection">WORK EXPERIENCE</h5>
                </div>
                <hr>
                <div class="headSection">
                    <p class="dateCity">18/02/2022 - Present <span class="city">City, </span> <span
                            class="country">Country</span></p>
                    <p class="CompanyPoositionExp"><b>Company</b> Senior Developer</p>
                </div>
                <hr>

                <div class="details">
                    <ul>
                        <li>- Developing web applications using HTML, CSS, and JavaScript</li>
                        <li>- Collaborating with cross-functional teams to define, design, and ship new features</li>
                        <li>- Conducting code reviews and providing feedback to other developers</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="titleSection">
                <div class="cercle"></div>
                <h5 class="nameSection">EDUCATION AND TRAINING</h5>
            </div>
            <hr>
            <div class="headSection">
                <p class="dateCity">18/02/2022 - Present <span class="city">City, </span> <span
                        class="country">Country</span></p>
                <p class="CompanyPoositionExp"><b>Bachelor of Science in Computer Science </b> </p>
            </div>
            <hr>
            <div class="details">
                <p>University Name</p>
            </div>
        </div>

        <div class="section">
            <div class="titleSection">
                <div class="cercle"></div>
                <h5 class="nameSection">Programming Languages</h5>
            </div>
            <hr>
            <div class="details">
                <div class="gridElement">
                    <p>HTML5</p>
                    <p> CSS3</p>
                    <p> JavaScript</p>
                    <p> Python</p>
                    <p>HTML5</p>
                    <p> CSS3</p>
                    <p> JavaScript</p>
                    <p> Python</p>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="titleSection">
                <div class="cercle"></div>
                <h5 class="nameSection">LANGUAGE SKILLS </h5>
            </div>
            <hr>

            <div class="details">
                <p>Mother tongue(s): <b>English</b></p>
                <p>Other language(s):</p>

                <div class="gridElement">
                    <p> Spanish: <b>B1</b> </p>
                    <p> Arabic: <b>B1</b> </p>
                    <p> French: <b>B1</b> </p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>